.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input.write {
  top: 20px;
  color: rgba(0,0,0,0.4);
}
div.text_container {
	position: relative;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-top: 0px;
	margin-right: auto;
}
div.write {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border: 1px solid transparent;
}

.write {
  border: 1px solid;
  width: 100%;
  height: 40px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: "Courier New";
}

.letter_green {
  color:green;
}

.letter_red {
  color:red
}

.play_btton {
  width: 130px;
  cursor: pointer;
}

.sliders {
  padding-top: 40px;
  width: 80%;
  margin: auto;
}

button.buttons {
  width: 80%;
  margin: 20px 0px 0px 0px;
  padding: 0;
  height: 40px;
  border: 1px solid #7e99cf;
  font-size: 18px;
  font-family: var(--amplify-font-family);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  color: #FFF;
  letter-spacing: 0.75px;
  text-transform: var(--text-transform);
  background-color: #677fae;
}

button.buttonsPlayAndNext {
	width: 40%;
	display: table-cell;
	padding: 7px;
	height: 40px;
	border: 1px solid #7e99cf;
	font-size: 18px;
	font-family: var(--amplify-font-family);
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	color: #FFF;
	letter-spacing: 0.75px;
	text-transform: var(--text-transform);
	background-color: #677fae;
	box-sizing: border-box;
	margin-left: 10px;
}
.buttonsPlayAndNext {
	width: 80%;
	margin: auto;
	display: table;
	padding-top: 20px;
  padding-bottom: 20px;
}


.title_text p {
	font-size: 12px;
	text-align: left;
}


.divTitle_text {
  margin-top: 24px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.table_words {
	max-width: 80%;
	margin: auto;
	border: 1px solid #b3b2b2;
  font-size: 14px;
}

.tittle_table_words {
	padding: 20px;
	box-sizing: border-box;
	font-size: 22px;
	background-color: #f2ebeb;
}
.table_words > div {
  width: 100%;
}

.results_table_words {
	max-height: 200px;
	overflow: auto;
	margin: auto;
	border-top: 1px solid #d5b0b0;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0,0.3);
}

.results_table_words > div {
  display: table;
  width: 100%;
}

.results_table_words > div > div{
  display: table-cell;
  box-sizing: border-box;
  width: 15%;
  height: 26px;
  line-height: 26px;
  border-bottom: 1px dotted rgba(0,0,0,0.5);
}

.belong {
  font-size: 11px;
  color:rgb(104, 104, 104);
}

.table_titles {
  display: table;
}

.table_titles > div {
	display: table-cell;
	box-sizing: border-box;
	width: 15%;
	font-size: 12px;
	padding: 10px;
	box-sizing: border-box;
	font-weight: bold;
}

.MuiButtonBase-root .MuiIconButton-edgeEnd {
  margin-right: 12px
}


.menu-app .MuiAccordionSummary-root.Mui-expanded {
  min-height: 40px;
  padding: 0px 16px;
}



.menu-app .MuiAccordionSummary-content.Mui-expanded {

    margin: 12px 0;

}

.menu-app .MuiAccordionDetails-root {
  display: block;
}

.menu-app .MuiAccordionDetails-root > div {
  width: 100%;
  display: block;

}


.table_words > div.table_titles > .wordBigger,
.table_words > .results_table_words div > .wordBigger {
  width: 55%;
}


.favourite > label {
  cursor: pointer;
  display: inline-block;
  padding: 8px;
  line-height: 16px;
  vertical-align: middle;
}